#one {

	margin-left: auto;
    margin-right: auto;
    

    width: 700px;
	
	border: 1px solid black;
	padding-bottom: 50px;
	

}

h2 {
	color: blue;
	font-weight: bold;
}

p {
	text-align: justify;
}